.contactus {
  text-align: center;
}

span.label {
  position: absolute;
  left: 450px;
}

input {
  width: 200px;
  margin-bottom: 5px;
}

#contact_form .label {
  float: left;
  width: 140px;
}

#booking_form .label {
  float: left;
  width: 300px;
}

textarea {
  width: 200px;
}

#contact_submit {
  background-color: #ff6633;
}

.error {
  display: none;
  color: darkred;
}

.address {
  text-align: center;
}

.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}