  .game-window{
     z-index: 1;
     display: flex;
     justify-content: center;
     background: grey;
     display: flex;
     align-items: center;
     justify-content: center;
  }

  #canvas-box{
    position: relative;
    border : 1px solid rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);
  }

  #canvas-box canvas{
    position: absolute;
    background-color: transparent;
  }

  #s-canvas{
    background: transparent;
    border: none;
  }

  .holdbox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #hold{
    margin-top: 3px;
    background-color:rgba(255, 255, 255, 0.08);
    transform: rotate(-1.8deg);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.4)
  }

  #hold:hover{
    transform: scale(1.05) rotate(-1.8deg);
  }

  .left-bar{
    display: flex;
    color: #abdff3;
    width : 15em;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em;
    text-align: center;
  }


  .leftbox div span{
    color: #e0d9ac;
    font-weight: bold;
    font-size: 120%;
    white-space:nowrap;
  }

  .option-bar{
    display: flex;
    flex-direction: column;
    margin: 0.6em 0.2em 0 0.2em;
    border: 1px dashed #999;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 3px 1px 3px #222;
  }

  .option-bar a{
    color: inherit;
    text-decoration: none;
  }

  .option-bar a:hover{
    color: gold;
  }

  button{
    background-color: blue;
    color: white;
    border: 2px, dashed black;
    font-size: 85%;
  }

  .right-bar {
    display: flex;
    width: 15em;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em;
    text-align: center;
  }

  .right-label-top{
    margin-bottom: 3px;
    color: #abdff3;
  }

  #control {
    display: flex;
    justify-content: space-around;
  }

  .w-button{
    display: inline-block;
    width: 48%;
    font-size: 85%;
    color : #222;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    border-radius: 0px;
    background-color: #FFF;
    transform: skewX(-3deg);
    box-shadow: 2px 2px 1px #000;
  }

  .w-button:hover{
    transform-origin: center;
    transform: scale(1.05) skewX(-3deg);
  }

  .w-button:active{
    box-shadow: none;
  }

  .w-border{
      display: none;
      border-radius: 0;
      position: absolute;
      z-index: 5;
      color: #FFF;
      border : 1px solid #FFF;
      background-color: #175266;
      box-shadow: 0 0 5px #000;
      overflow: auto;
  }

  .w-head{
      margin: 0.2em;
      display: flex;
      justify-content: space-between;
  }

  .w-close-x{
      color : #ccc;
      text-align: right;
      width : 6em;
      height: 1.2em;
      line-height: 1.2em;
      cursor: pointer;
  }

  .w-close-x:hover{
      color : #fff;
  }

  .w-body{
      display: flex;
      justify-content: center;
      min-height: 10.5em;
      min-width: 16em;
      border-top: 1px solid rgb(31, 31, 31);
      background-color: #11365f;
  }

  .w-title{
      color : #fff;
  }

  .cont-opt{
      display: flex;
      padding: 35px;
      max-height: 470px;
      overflow-x: hidden;
      flex-direction: column;
  }

  .opt-item{
      display: flex;
      align-items: center;
      font-size: 0.9em;
      border-radius: 3px;
      margin: 5px 0;
      padding: 15px;
      border : 1px solid #999;
  }

  #cont-table{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 18em;
      margin-bottom: 10px;
  }

  table {
      margin: 1.5em;
  }

  th {
      color : rgb(238, 190, 102);
  }

  th, td {
      text-align: center;
      width : 6em;
  }